{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">[]
            <h2 class="navbar-brand mr-4">Blog App</h2>
            <!-- <a class="navbar-brand mr-4" href="{% url 'index' %}">Home</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'blog-home' %}">Blogs</a>
                <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                  <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
        
              </div>
            </div>
          </div>
        </nav>
      </header>


<div class="container-fluid img-fluid">
    <div class="text">
        <h1>My awasome Blog App</h1>
        <p>This is my first blog app designed using Django framework.</p>
    </div>
</div>

<!-- creating teams pages -->
<div class="teams">
    <div class="header">
        <h1>Fullstack Web development</h1>
        <p>This is my lovely blog app designed used Django framework. I Love it so 
            much becouse you can build responsive page faster.
        </p>
    </div>
    <div class="container">
        <div class="content">
            <img src="./media/smallflower.jpg" alt="">
            <h4>Frond-end Roadmap</h4>
            <p>Every Web Developer must have a basic understanding of HTML, CSS, and JavaScript.

                Responsive Web Design is used in all types of modern web development.
                
                ECMAScript 5 (JavaScript 5) is supported in all modern browsers. Take a good look at it, especially the new array functions.</p>
        </div>
        <div class="content">
            <img src="./media/smallflower.jpg" alt="">
            <h4>Back-end Roadmap</h4>
            <p>Every Web Developer must have a basic understanding of HTML, CSS, and JavaScript.

                Responsive Web Design is used in all types of modern web development.
                
                ECMAScript 5 (JavaScript 5) is supported in all modern browsers. Take a good look at it, especially the new array functions.</p>
        </div>
        <div class="content">
            <img src="./media/smallflower.jpg" alt="">
            <h4>Back-end Roadmap</h4>
            <p>Every Web Developer must have a basic understanding of HTML, CSS, and JavaScript.

                Responsive Web Design is used in all types of modern web development.
                
                ECMAScript 5 (JavaScript 5) is supported in all modern browsers. Take a good look at it, especially the new array functions.</p>
        </div>
        <div class="content">
            <img src="./media/smallflower.jpg" alt="">
            <h4>Back-end Roadmap</h4>
            <p>Every Web Developer must have a basic understanding of HTML, CSS, and JavaScript.

                Responsive Web Design is used in all types of modern web development.
                
                ECMAScript 5 (JavaScript 5) is supported in all modern browsers. Take a good look at it, especially the new array functions.</p>
        </div>
    </div>

</div>

<!-- contact section -->
<section id="contact" class="contact-section">
    <div class="contact-section-header">
      <h2>Let's work together...</h2>
      <p>You can Reach me </p>
    </div>
    <div class="contact-links">
      <a href="#" target="_blank" class="btn contact-details"
        ><img src="./media/facebook.jpeg" alt="FB" height="80px" width="40px"><i class="fab fa-facebook-square"><br></i> Facebook</a>
      <a id="profile-link" href="#" target="_blank" class="btn contact-details">
        <img src="./media/whatsapp.jpeg" alt="FB" height="80px" width="40px"><i class="fab fa-github"><br></i>WhatsApp</a>
      <a href="#" target="_blank" class="btn contact-details"
        ><img src="./media/twitter.jpeg" alt="FB" height="80px" width="40px"><i class="fab fa-twitter"><br></i> Twitter</a>
      <a href="mailto:example@example.com" class="btn contact-details"
        ><img src="./media/linkdin.jpeg" alt="FB" height="80px" width="40px"><i class="fas fa-at"><br></i>Linkdin</a>
    </div>
  </section>

<!-- Footer -->
<footer class="footer">
    <div class="inline">
       <p>Designed by Riantechy Solutions &copy; 2022</p>  
    </div>
  
</footer>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
